<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="top"></div>
    <div id="app_bar">
        <div id ="app_bar_icon"></div>
        <div id="app_bar_menu"></div>
    </div>
    <div id="picture"></div>
    <div id="picture_text"></div>
    <div id="blue_bar">
        <div id="blue_top"></div>
        <div id="blue_bottom"></div>
    </div>
    <div id="center">
        <div id="center_top"></div>
        <div id="center_bottom"></div>
    </div>
    <div id="bottom">
        <div id="bottom_text"></div>
        <div id="bottom_images"></div>
    </div>
    <div id="footer">
        <div id="footer_icons"></div>
        <div id="footer_contact"></div>
        <div id="footer_certifications"></div>
    </div>
</body>
</html>